<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Fes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/city-menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Fes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
    
      <ion-col  >
  <ion-card >
    <img alt="Fes" src= "https://i.pinimg.com/564x/b9/8b/18/b98b180744d6a8061b2342b5b24d7c65.jpg"/>
    <ion-card-header>
      <ion-card-title>Fes</ion-card-title>
      <ion-card-subtitle>Capitale spirituelle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content >
      Fès est une ville du nord-est du Maroc souvent considérée comme la capitale culturelle du pays. Elle est principalement réputée pour la médina fortifiée de Fès El Bali, avec architecture mérinide médiévale, souks animés et atmosphère à l'ancienne. La médina abrite des écoles religieuses telles que les médersas Bou Inania et Al Attarine datant du XIVe siècle, toutes deux décorées de panneaux de cèdre sculptés et de délicates mosaïques.    </ion-card-content>
  </ion-card>
      </ion-col>
      </ion-row>
</ion-grid>
<hr>
<p class="title">Donnée cartographique</p>
<ion-card>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d106376.56000740414!2d-7.669394253948181!3d33.57240323250468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7cd4778aa113b%3A0xb06c1d84f310fd3!2sCasablanca!5e0!3m2!1sfr!2sma!4v1705102504387!5m2!1sfr!2sma" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></ion-card>
<hr>

</ion-content>
