<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Casablanca</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/city-menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Casablanca</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
    
      <ion-col  >
  <ion-card >
    <img alt="rabat" src= "https://i.pinimg.com/564x/c6/21/55/c62155f0484fe740594d8537c7212589.jpg"/>
    <ion-card-header>
      <ion-card-title>Casablanca</ion-card-title>
      <ion-card-subtitle>Capitale economique</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content >
      Casablanca est une ville portuaire et un pôle commercial situé à l'ouest du Maroc, face à l'océan Atlantique. L'héritage colonial français de la ville se reflète dans l'architecture mauresque du centre-ville, alliant style mauresque et Art déco européen. Partiellement érigée sur l'eau, l'immense mosquée Hassan II, achevée en 1993, comprend un minaret de 210 mètres de haut avec des lasers orientés vers La Mecque    </ion-card-content>
  </ion-card>

      </ion-col>
      </ion-row>
</ion-grid>
<hr>
<p class="title">Donnée cartographique</p>
<ion-card>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d106376.56000740414!2d-7.669394253948181!3d33.57240323250468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7cd4778aa113b%3A0xb06c1d84f310fd3!2sCasablanca!5e0!3m2!1sfr!2sma!4v1705102504387!5m2!1sfr!2sma" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</ion-card>
<hr>

</ion-content>

