.background-div{
  
  background: url('https://seeklogo.com/images/R/royaume-du-maroc-kingdom-of-morocco-logo-CE824856A6-seeklogo.com.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  background-size: contain;
  height: 35vh;
  justify-content: center;
}