<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcom to Morocco
    </ion-title>
  </ion-toolbar>
</ion-header>
 <ion-content>
  <div class="background-div">
  </div>

 </ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Morocco</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Le Maroc, pays d'Afrique du Nord sur le littoral de l'Atlantique et de la Méditerranée, se distingue par ses influences berbères, arabes et européennes. La médina de Marrakech, quartier médiéval aux allures de labyrinthe, est un lieu animé, avec sa place Jemaa el-Fna et ses souks (marchés) vendant des céramiques, des bijoux et des lanternes en métal. La casbah des Oudayas à Rabat, la capitale, est un fort royal du XIIe siècle qui surplombe l'océan. 
  </ion-card-content>
  <ion-card-content class="ion-text-center">
    <ion-button fill="outline" (click)="Visit()">    Visiter   </ion-button>
  </ion-card-content>

 

</ion-card>
<ion-footer></ion-footer>
