<ion-content>
<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title> City of Morocco </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content  class="my-content" [fullscreen]="true">
  <ion-card class="ion-text-center" (click)="visitRabat()">
    <img alt="Silhouette of mountains" src="https://i.pinimg.com/564x/7d/e5/63/7de563df2360179104de7a8da3698f02.jpg" />
    <ion-card-header>
      <ion-card-title>Rabat</ion-card-title>
    </ion-card-header>
    </ion-card>

  <ion-card class="ion-text-center" (click)="visitFes()">
    <img alt="Silhouette of mountains" src="https://i.pinimg.com/564x/b9/8b/18/b98b180744d6a8061b2342b5b24d7c65.jpg" />
    <ion-card-header>
      <ion-card-title>Fes</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="ion-text-center" (click)="visitTanger()">
    <img alt="Silhouette of mountains" src="https://i.pinimg.com/564x/5b/1c/16/5b1c162363f2ac88c9b009bd320852d6.jpg" />
    <ion-card-header>
      <ion-card-title>Tanger</ion-card-title>
    </ion-card-header>
    </ion-card>

    <ion-card class="ion-text-center" (click)="visitCasa()">
      <img alt="Silhouette of mountains" src="https://i.pinimg.com/564x/c6/21/55/c62155f0484fe740594d8537c7212589.jpg" />
      <ion-card-header>
        <ion-card-title>Casablanca</ion-card-title>
      </ion-card-header>
      </ion-card>

      <ion-card class="ion-text-center" (click)="visitOujda()">
        <img alt="Silhouette of mountains" src="https://i.pinimg.com/564x/8a/3f/06/8a3f06b2d91c85d29a0d1bfa780eeecf.jpg" />
        <ion-card-header>
          <ion-card-title>Oujda</ion-card-title>
        </ion-card-header>
        </ion-card>
      <ion-footer collapse="fade">
        <ion-toolbar>
          <ion-title>Footer</ion-title>
        </ion-toolbar>
      </ion-footer>
      
   
      
</ion-content>




