   <ion-header [translucent]="true">
     <ion-toolbar>
       <ion-title>Rabat</ion-title>
       <ion-buttons slot="start">
         <ion-back-button defaultHref="/city-menu"></ion-back-button>
       </ion-buttons>
     </ion-toolbar>
   </ion-header>
   
   <ion-content [fullscreen]="true">
     <ion-header collapse="condense">
       <ion-toolbar>
         <ion-title size="large">Rabat</ion-title>
       </ion-toolbar>
     </ion-header>
     <ion-grid>
       <ion-row>
       
         <ion-col  >
     <ion-card >
       <img alt="rabat" src= "https://i.pinimg.com/564x/7d/e5/63/7de563df2360179104de7a8da3698f02.jpg"/>
       <ion-card-header>
         <ion-card-title>Rabat</ion-card-title>
         <ion-card-subtitle>Capitale du maroc</ion-card-subtitle>
       </ion-card-header>
       <ion-card-content >
         Rabat, la capitale du Maroc, est bâtie sur les rives du fleuve Bouregreg et de l'océan Atlantique. Elle est connue pour ses sites d'intérêt, qui illustrent tant le patrimoine islamique que colonial français, notamment la kasbah des Oudayas. Ce fort royal de l'époque berbère est entouré par des jardins formels de style français et surplombe l'océan. L'emblématique tour Hassan de la ville, un minaret du XIIe siècle, domine les vestiges d'une mosquée.       
       </ion-card-content>
     </ion-card>
   
         </ion-col>
         </ion-row>
   </ion-grid>
   <hr>
   <p class="title">Donnée cartographique</p>
   <ion-card>
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105884.89453236607!2d-6.939664535622303!3d33.96933376457863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda76b871f50c5c1%3A0x7ac946ed7408076b!2sRabat!5e0!3m2!1sfr!2sma!4v1705099826144!5m2!1sfr!2sma" width="400" height="300" class="ion-justify-content-center"    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
   
   </ion-card>
   <hr>


  
  </ion-content>
  <ion-footer></ion-footer>



