<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tanger</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/city-menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tanger</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
    
      <ion-col  >
  <ion-card >
    <img alt="rabat" src= "https://i.pinimg.com/564x/5b/1c/16/5b1c162363f2ac88c9b009bd320852d6.jpg"/>
    <ion-card-header>
      <ion-card-title>Tanger</ion-card-title>
      <ion-card-subtitle> Capitale du nord </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content >
      Port marocain situé dans le détroit de Gibraltar, Tanger constitue depuis l'époque des Phéniciens un point stratégique entre l 'Afrique et l'Europe. À flanc de coteau, sa médina aux bâtiments blanchis à la chaux comporte le Dar el makhzen, un ancien palais de sultans devenu aujourd'hui un musée d'objets anciens du Maroc. Occupant un ancien consulat de style maure datant de 1821, le musée de la légation américaine, dans la médina également, retrace l'histoire des premières relations diplomatiques entre les États-Unis et le Maroc.    </ion-card-content>
  </ion-card>

      </ion-col>
      </ion-row>
</ion-grid>
<hr>
<p class="title">Donnée cartographique</p>
<ion-card>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d207199.84870371787!2d-6.146317524655723!3d35.76315047024864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0b875cf04c132d%3A0x76bfc571bfb4e17a!2sTanger!5e0!3m2!1sfr!2sma!4v1705101156540!5m2!1sfr!2sma" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</ion-card>
<hr>


</ion-content>
