<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Rabat</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/city-menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Oujda</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
    
      <ion-col  >
  <ion-card >
    <img alt="rabat" src= "https://i.pinimg.com/564x/8a/3f/06/8a3f06b2d91c85d29a0d1bfa780eeecf.jpg"/>
    <ion-card-header>
      <ion-card-title>Oujda</ion-card-title>
      <ion-card-subtitle>Capital du maroc oriental</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content >
      Oujda est une ville au nord-est du Maroc, à proximité de la frontière algérienne. Elle est célèbre pour sa Grande Mosquée, construite à la fin du XIIIe siècle, décorée de bois finement sculpté et de carreaux de mosaïques. La mosquée se trouve dans la vieille ville, la médina, derrière les remparts et l'imposante porte de Sidi Abdelouahab. De nombreux souks et boutiques vendent des fruits, des épices, des bijoux et des vêtements traditionnels. La galerie d'art d'Oujda présente de l'art oriental moderne et traditionnel.    </ion-card-content>
  </ion-card>

      </ion-col>
      </ion-row>
</ion-grid>
<hr>
<p class="title">Donnée cartographique</p>
<ion-card>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52493.02996267494!2d-1.9486778905976332!3d34.68463414867564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd7864984106d6ef%3A0x1d86b33244c4650!2sOujda!5e0!3m2!1sfr!2sma!4v1705106628695!5m2!1sfr!2sma" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</ion-card>
<hr>



</ion-content>
<ion-footer></ion-footer>



